.main__body-about {
  background: var(--background-4);
  height: 100vh;
  position: absolute;
  width:100vw;
}

.main__about-header{
  font-size: var(--font-size-1);
  color: var(--font-semiTransparent);
  position: absolute;
  margin: 11rem 3rem;
  /* top: 10rem auto; */
   /* text-align: center;   */
   z-index: 10;   
}

.accordion {
  position: relative;
  max-width: 450rem;
  margin: 14rem 3rem;
  border: 1px solid var(--background-3);
  box-shadow: var(--box-shadow-1);
 
}

.accordion__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: crosshair;
  background-color: var(--accent-1);
  border: 1px solid var(--background-3);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-3);
}

.accordion__title:hover {
  background-color: var(--background-3);
  color: var(--font-color-1);
  transition: all 0.8s;
}

.accordion__title,
.accordion__content {
  padding: 1.2rem;
  color: var(--font-color-2);
}
 