.main__body-contact {
  background: var(--background-4);
  height: 100vh;
  position: absolute;
  width: 100vw;
}

.main__contact-header {
  font-size: var(--font-size-1);
  color: var(--font-semiTransparent);
  position: absolute;
  margin: 6.5rem 3rem;
  /* top: 10rem auto; */
  /* text-align: center;   */
  z-index: 10;
}

#Contact__form {
  width: 75%;
  /* font-family: var(--font-family-2); */
  padding: 50px 0px;
  margin: 6rem auto;
  box-sizing: border-box;
  position: relative;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

#firstName,
#lastName,
#telephone,
#email {
  width: 100%;
  margin: 5px auto;
  font-size: var(--font-size-4);
  color: var(--font-color-4);
}

/* general styling across the inputs */
input {
  padding: 10px;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  border: 1px solid var(--background-3);
  transition: all 0.3s;
}

input:focus:required:invalid {
  border: 2px solid var(--border-color-2);
  box-shadow: var(--box-shadow-3);
}

input:focus:required:placeholder-shown {
  border: 2px solid var(--border-color-2);
}

#comments {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 20px 0px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-size: var(--font-size-4);
  color: var(--font-color-2);
  transition: all 0.3s;
  border: 1px solid var(--background-3);
  /* box-shadow: var(--box-shadow-1); */
}

#comment:focus:required:invalid {
  border: 2px solid var(--border-color-2);
  box-shadow: var(--box-shadow-3);
}

#Contact__form-submit-Btn {
  padding: 8px 12px;
  background: var(--background-3);
  font-size: var(--font-size-3);
  color: var(--font-color-1);
  margin: 0.1rem 0px;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: var(--box-shadow-1);
  font-weight: var(--font-weight-2);
}

#Contact__form-submit-Btn:hover {
  background: var(--background-2);
  color: var(--font-color-2);
}

::placeholder {
  color: var(--font-color-4);
}

/* MEDIA  -------------------------------------------- */

@media screen and (min-width: 700px) {
  .main__body-contact {
    padding: 0px 10%;
  }
  .main__contact-header {
    margin: 10rem 10%;
    font-size: 3rem;
  }

  #Contact__form {
    max-width: 80%;
    padding: 50px 0px;
    margin: 10rem auto;
    box-sizing: border-box;
    position: relative;
  }

  #firstName,
  #lastName,
  #telephone,
  #email,
  #comments {
    padding: 3%;
    box-shadow: var(--box-shadow-1);
  }
  #Contact__form {
    font-size: 4rem;
  }
  #Contact__form-submit-Btn {
    font-size: 1.8rem;
  }
  ::placeholder {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1080px) {
  .main__contact-header {
    margin: 9.5rem 20%;
  }

  #Contact__form {
    max-width: 50%;
  }
}
