.cardQ {
  height: 100vh;
}

.main__mapData-header{
  font-size: var(--font-size-1);
  color: var(--font-semiTransparent);
  position: absolute;
  margin: 34rem auto;

   z-index: 10;   
}



/* DEFAULT text container   */
.Card__text-container-c {
  color: white;
  text-align: center;
  position: relative;
}

/* Mapbox branding */
.mapboxgl-ctrl-logo {
  width: 0px;
  height: 0px;
}

a.mapboxgl-ctrl-logo {
  width: 0px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  width: 0px;
  height: 0px;
}

.mapboxgl-ctrl-attrib-button {
  width: 0px;
  height: 0px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib.mapboxgl-compact {
  background-color: 0;
  width: 0px;
  height: 0px;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  background-color: 0;
  border-radius: 0px;
  margin:0px;
  min-height:0px;
  padding: 0px;
  width: 0px;
  height: 0px;
}

