@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

:root {
  --background-1: #ffff;
  --background-2: #f509ae;
  --background-3: #e8e517cc;
  --background-4:  #424d5c;
  --background-5: #5d757e;
  --background-6: url(./components/img/grid.png);

  --accent-1: #8d8b0dcc;
  --accent-2: #68656899;
  --accent-3: #00ff00;
  --accent-4: #545455;
  --accent-5: #ffff;
  --accent-6: #000;

  /* font */
  --font-family-1: "Share Tech Mono", monospace;

  /* scale these form mobile to desktop */
  --font-size-1: 2rem; /*55px*/
  --font-size-2: 2.13rem; /*34px*/
  --font-size-3: 1.25rem; /*22px*/
  --font-size-4: 1rem; /* 16 px = 1 rem */
  --font-size-5: 0.8rem; /*12px*/

  --font-weight-1: 700;
  --font-weight-2: 600;
  --font-weight-3: 400;

  --font-color-1:  #424d5c;
  --font-color-2: #ffff;
  --font-color-3: #000;
  --font-color-4: #8e8e8f;
  --font-color-5: #ffa500;
  --font-semiTransparent: rgba(255, 255, 255, 0.502);

  /* styling */
  --box-shadow-1: 6px 6px 6px 0px var(--accent-1);
  --box-shadow-2: 0 12px 12px var(var(--accent-3));
  --box-shadow-3: 0 0 6px #fb00ff99;

  /* Border */
  --border-color-1: #888787;
  --border-color-2: #fb00ff99;

  --border-style-1: 1px solid #d3d3d3;
  --border-radius-1: 20px;

  /* to do - set to 10px */
  --border-radius-2: 3px;
}

body {
 font-family: var(--font-family-1 );
 height: 100vh;
}

html {
  color-scheme: dark light;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* pages--------------------------------------- */
.Page__section {
  font: 2rem;
}

.Page-header {
  color: var(--font-color-3);
}
/* end pages--------------------------------------- */

.Card__b {
  height: 300px;
  width: 16rem;
  margin: 0 auto;
}

.Grid__container-b {
  /* ex-Large  */
  display: grid;
  grid-gap: 5px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  /* border: 5px solid pink; */
}

/* Small */
@media (max-width: 600px) {
  .Card {
    height: 180px;
    width: 100%;
  }

  .Card__img {
    height: 16rem;
    position: relative;
    /* left: 300px; */
    bottom: 0px;
  }
}
